main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 80px;
}

.hi-text {
    overflow: hidden; 
    border-right: .15em solid white; 
    white-space: nowrap; 
    width: 0;
    letter-spacing: .15em;
    animation: 
      typing 2s steps(30, end) forwards, 
      blink-caret .75s step-end infinite;
}

.about-text {
    overflow: hidden;
    border-right: .15em solid white; 
    margin-right: auto;
    white-space: nowrap;
    width: 0; 
    letter-spacing: .15em;
    animation: 
      typing 2s steps(40, end) 2s forwards, 
      blink-caret .75s step-end infinite 3.6s;
}

.resume-text {
    overflow: hidden;
    text-align: center;
    border-right: .15em solid white;
    white-space: nowrap;
    width: 0; 
    margin-right: auto;
    margin-top: 10px;
    animation: 
      typing 2s 4.2s forwards,
      blink-caret .75s step-end infinite 7.2s;
}

@keyframes typing {
    from { width: 0; } 
    to { width: 100%; } 
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: white; } 
}
