.projects-container {
    display: flex;
    flex-direction: row-reverse; 
    flex-wrap: nowrap; 
    overflow-x: auto; 
    white-space: nowrap; 
    padding: 30px 10px;
    gap: 20px; 
    margin-top: 50px; 
    height: 820px
}

.project {
    display: inline-block;
    background-color: #356e00; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(197, 117, 117, 0.1); 
    min-width: 650px; 
    max-width: 650px; 
    min-height: 650px; 
    text-align: center;
    overflow: hidden; 
    margin-bottom: 10px; 
    text-overflow: ellipsis; 
    white-space: normal; 
}

.project p {
    color: white;
}

.project h2 {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
}

.project h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 15px;
    color: white;
}

.project h4 {
    color: white;
}

.project ul {
    text-align: left;
    padding-left: 20px;
    color: white;
}

.project li {
    font-size: 1rem;
    margin-bottom: 8px;
    line-height: 1.5;
    color: white;
}

.project a {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #a443ff;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
}

.project:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease;
    box-shadow: 0 6px 15px rgba(255, 255, 255, 0.15);
}

.project img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.project iframe {
    margin-top: 15px;
    border: none;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .projects-container {
        flex-direction: column;
        overflow-x: hidden;
        align-items: center;
        padding: 20px;
    }

    .project {
        width: 90%;
        min-height: auto;
    }
}