body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    display: flex; 
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

header {
    position: fixed; 
    top: 0;
    width: 100%;
    background: rgba(71, 197, 255, 0.2);
    display: flex;
    justify-content: space-around; 
    align-items: center;
    padding: 15px 20px;
}

header a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 12px 20px;
    margin: 0 15px;
    background: rgba(0, 174, 255, 0.2);
    border-radius: 8px;
}

header a:hover {
    background: rgb(255, 149, 0);
    transform: scale(1.05);
}

footer {
    position: fixed; 
    bottom: 0;
    width: 100%;
    background: rgba(71, 197, 255, 0.2);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-around; 
    padding: 15px 20px;
}

.social {
    display: flex;
    gap: 370px;
}

.social a img {
    width: 50px;
    transition: transform 0.3s ease-in-out, opacity 0.3s;
    opacity: 0.8;
}

.social a img:hover {
    transform: scale(1.1);
    opacity: 1;
}